<%- layout('layouts/main.ejs') %>

<title>Editar un Alumno</title>


<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h3>Editar Alumno</h3>
            </div>
            <div class="card-body">
                <form action="/actualizaralumno" method="POST">
                    <input type="hidden" name="alumnoId" value="<%= alumnoId %>">
                    <div class="form-group">
                        <h6>Campos con * son REQUERIDOS</h6>
                        <br></br>
                        <label for="nombre">Nombre *</label>
                        <input type="text" name="nombre" value="<%= alumno.nombre %>" class="form-control" onkeyup="convertirAMayusculas(this)" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidoPaterno">Apellido Paterno *</label>
                        <input type="text" name="apellidoPaterno" value="<%= alumno.apellidoPaterno %>" class="form-control" onkeyup="convertirAMayusculas(this)" required>
                    </div>
                    <div class="form-group">
                        <label for="apellidoMaterno">Apellido Materno *</label>
                        <input type="text" name="apellidoMaterno" value="<%= alumno.apellidoMaterno %>" class="form-control" required onkeyup="convertirAMayusculas(this)">
                    </div>
                    <div class="form-group">
                        <label for="fechaNacimiento">Fecha de Nacimiento *</label>
                        <input type="date" name="fechaNacimiento" value="<%= alumno.fechaNacimiento.toISOString().slice(0, 10) %>" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="carrera">Carrera *</label>
                        <select name="carrera" class="form-control" required>
                            <% carreras.forEach(carrera => { %>
                              <option value="<%= carrera._id %>" <% if (alumno.carrera && carrera._id.toString() === alumno.carrera.toString()) { %>selected<% } %>><%= carrera.descripcion %></option>
                            <% }) %>
                          </select>                          
                    </div>
                    <div class="form-group">
                        <label for="estatus">Estatus *</label>
                        <select name="estatus" class="form-control" required>
                            <option value="INSCRITO" <% if (alumno.estatus === "INSCRITO") { %>selected<% } %>>INSCRITO</option>
                            <option value="NO INSCRITO" <% if (alumno.estatus === "NO INSCRITO") { %>selected<% } %>>NO INSCRITO</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" value="<%= alumno.email %>" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="telefono" value="<%= alumno.telefono %>" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" name="direccion" value="<%= alumno.direccion %>" class="form-control" onkeyup="convertirAMayusculas(this)">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-4">
                        Actualizar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
  function redirectToConsultarAlumno() {
    window.location.href = "/consultaralumno";
  }

  // Función para convertir el texto a mayúsculas
  function convertirAMayusculas(elemento) {
    elemento.value = elemento.value.toUpperCase();
  }
</script>

    <div class="col-md-4 offset-md-4">
                <form action="/actualizaralumno" method="POST">
                    <input type="hidden" name="alumnoId" value="<%= alumnoId %>">
                </form>
    </div>

    <button onclick="redirectToConsultarAlumno()" class="btn btn-primary mt-4 float-right">
        Volver a Consultar Alumnos
    </button>    
